@import "../styles/utils.module.scss";


// OFFCANVAS CLASSES
._navigation_offcanvas_wrapper{
    max-width: 300px;
    width: 100%;




    @media only screen and (max-width: 576px){
        max-width: 250px;
    }





    ._navigation_offcanvas_title{
        font-family: "Agent", sans-serif;
        font-weight: 900;
        font-size: 2.25rem;
    }

    ._navigation_offcanvas_body{
        display: grid;
        place-items: center;
  
        margin-top: 1.25rem;
        a{
            all: unset;
            cursor: pointer;
            // margin-bottom: 1.75rem;
            display: inline-block;
            font-size: 1.75rem;
            font-weight: 600;
            font-family: $HEADER_FONT;
            text-transform: uppercase;
            transition: all 0.2s ease-in-out;


            &:hover{
                color: $H_GRAY;
            }






            @media only screen and (max-width: 767px) { 
                font-size: 1.5rem;
            }


            @media only screen and (max-width: 576px) { 
                font-size: 1.25rem;
            }



        }
    }
}


// END









._navigation_component_wrapper{
    padding: 0;
    background-color: gray;
    width: 100vw;




    @media only screen and (max-width: 991px) { 
        padding: 0 1rem;
    }




    ._navigation_hamburger_menu_{
        display: none;
        font-size: 3rem;
        color: $BLACK;


        @media only screen and (max-width: 991px) {
            display: block;
        }


    }




    ._navigation_collapse_{
        display: block;

        @media only screen and (max-width: 991px) {
            display: none;
        }
    }




    h6{
        cursor: pointer;
        font-family: "Agent", sans-serif;
        font-size: 3.25rem;
        font-weight: 900; 
        color: $BLACK;




        @media only screen and (min-width: 2501px){
          font-size: 5.8rem;
        }
    
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 4.8rem;
        }
    
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          font-size: 4.25rem;
        }
    
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 3.6rem;
        }
    
    
        // ############################################################################



        @media only screen and (max-width: 576px) { 
            font-size: 2.75rem;
           
        }







      }
   #_navigation_component_links_ > *{
    cursor: pointer;
    color: $BLACK;
    font-family: $HEADER_FONT;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;


    &:hover{
        color: $H_GRAY;
    }


    @media only screen and (min-width: 2501px){
        font-size: 2rem;
    }

    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        font-size: 1.75rem;
    }

    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
      font-size: 1.5rem;
    }

    @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
       font-size: 1.25rem;
    }


    // ############################################################################














   }
}

// ###################################################################

._component_wrapper_{
    position: relative;
    padding: 4rem 2rem;
    width: 100vw;
    min-height: 100vh;
    background-color: $WHITE;




    // @media only screen and (max-width: 768px) { 
    //     padding: 2rem 1rem;
    // }





    // For Introduction.js file
    ._introduction_box{
        display: grid;
        place-content: center;
        transform: translateY(40%);




        @media only screen and (min-width: 2600px){
            transform: translateY(60%);
        }




        @media only screen and (min-width: 2501px) and (max-width: 2599px){
            transform: translateY(57%);
        }



        @media only screen and (min-width: 2301px) and (max-width: 2500px){
            transform: translateY(60%);
        }





        @media only screen and (min-width: 2201px) and (max-width: 2300px){
            transform: translateY(50%);
        }




        @media only screen and (min-width: 2101px) and (max-width: 2200px){
            transform: translateY(60%);
        }



        @media only screen and (min-width: 1900px) and (max-width: 2100px){
            transform: translateY(50%);
        }


        @media only screen and (min-width: 1600px) and (max-width: 1800px) { 
            transform: translateY(50%);
        }



        // #######################################################################




        @media only screen and (max-width: 991px){
            transform: translateY(50%);
        }

        @media only screen and (max-width: 700px){
            transform: translateY(60%);
        }



        @media only screen and (max-width: 576px){
            transform: translateY(70%);
        }



        @media only screen and (max-width: 456px){
            transform: translateY(60%);
        }


        @media only screen and (max-width: 380px){
            transform: translateY(50%);
        }


    
        // background-color: red;
        h1{
            margin: 0;
            font-size: 4.25rem;
            // background-color: red;
            color: $BLACK;
            font-family: $HEADER_FONT;
            font-weight: 900;
            margin-bottom: 1rem;





            @media only screen and (min-width: 2501px){
                font-size: 6.5rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 6rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 5rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 4.5rem;
            }


            // ###################################################






















            @media only screen and (max-width: 991px) { 
                font-size: 3rem;
            }

            @media only screen and (max-width: 700px){
                font-size: 2.5rem;
            }


            @media only screen and (max-width: 576px){
                font-size: 2rem;
            }


            @media only screen and (max-width: 460px){
                text-align: center;
            }

        }

        h2{
            margin: 0;
            font-size: 2.25rem;
            font-weight: 600;
            color: $BLACK;
            font-family: $HEADER_FONT;





            @media only screen and (min-width: 2501px){
                font-size: 5rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 4.5rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 3.5rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 2.5rem;
            }


            // ###################################################


















            @media only screen and (max-width: 991px) { 
                font-size: 1.8rem;
            }


            @media only screen and (max-width: 700px){
                font-size: 1.5rem;
            }


            @media only screen and (max-width: 576px){
                font-size: 1.25rem;
            }



            @media only screen and (max-width: 460px){
                margin-bottom: 0.3rem;
                text-align: center;
            }


        }

        p{
            margin: 0;
            max-width: 800px;
            width: 100%;
            // background-color: red;
            color: $BLACK;
            font-size: 1.3rem;     
            font-weight: 400;




            @media only screen and (min-width: 2501px){
                font-size: 2.5rem;
                max-width: 1270px;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 2.25rem;
                max-width: 1200px;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 1.8rem;
              max-width: 1000px;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 1.5rem;
            }


            // ###################################################
















            @media only screen and (max-width: 991px) { 
                font-size: 1rem;
                max-width: 600px;
            }


            @media only screen and (max-width: 700px){
                max-width: 470px;
            }

            @media only screen and (max-width: 576px){
                max-width: 400px;
                font-size: 0.9rem;
            }




            @media only screen and (max-width: 460px){
                text-align: center;
            }


        }

        // BTN WRAPPER
        ._introduction_box_btn_wrapper{
            margin-top: 1.25rem;

            @media only screen and (min-width: 2501px){
                margin-top: 2.25rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                margin-top: 2rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                margin-top: 2rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               margin-top: 1.75rem;
            }


            // ###############################################################




            @media only screen and (max-width: 460px){
                text-align: center;
                
            }




            button{
                all: unset;
                margin-right: 0.8rem;
                cursor: pointer;
                border-radius: 5px;
                padding: 0.64rem 1rem;
                transition: all 0.2s ease-in-out;
                font-size: 1rem;
                
                &:nth-child(1){
                    background-color: $BLACK;
                    color: $WHITE;
                   

                    &:hover{
                        background-color: $H_BLACK;
                    }
                }

                &:nth-child(2){
                    border: 1px solid $BLACK;
                    color: $BLACK;
                   

                    &:hover{
                        color: $WHITE;
                        background-color: $BLACK;
                    }
                }




                @media only screen and (min-width: 2501px){
                    font-size: 2rem;
                    padding: 1rem 2rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.8rem;
                    padding: 1rem 2rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.5rem;
                    padding: 1rem 2rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                   font-size: 1.25rem;
                }
    
    
                // ###################################################




























                @media only screen and (max-width: 991px){
                    font-size: 0.9rem;
                }


                @media only screen and (max-width: 576px){
                    font-size: 0.8rem;
                }


                

            }
        }
        // END
    }
    // End
}



