// @font-face {
//     font-family: "Agent";
//     src: url("/fonts/agent.ttf");
//     font-weight: normal;
//     font-style: normal;
// }

// font-family: 'Inter', sans-serif;

$HEADER_FONT: 'Inter', sans-serif;
$HEADER_WEIGHT: 900;
$HEADER_WEIGHT_SEC: 600;

$BLACK: #303030;
$H_BLACK: #1b1c1e;
$WHITE: #FAF9F6;

